.logo {
  text-align: center;
  margin: 2%;
  position: relative;
  width: 100%;
  user-select: none;
  font-family: 'SourceSansProRegular';
}
.logo b {
  font: 400 8vh "SourceSansProRegular";
  color: #e7f1ff;
  text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em #d9e8fd, 0 0 0.5em #d9e8fd, 0 0 0.1em #d9e8fd, 0 10px 3px #000;
}
.logo b span {
  animation: blink linear infinite 2s;
}
.logo b span:nth-of-type(2) {
  animation: blink linear infinite 3s;
}
@keyframes blink {
  78% {
    color: inherit;
    text-shadow: inherit;
  }
  79%{
    color: #333;
  }
  80% {

    text-shadow: none;
  }
  81% {
    color: inherit;
    text-shadow: inherit;
  }
  82% {
    color: #333;
    text-shadow: none;
  }
  83% {
    color: inherit;
    text-shadow: inherit;
  }
  92% {
    color: #333;
    text-shadow: none;
  }
  92.5% {
    color: inherit;
    text-shadow: inherit;
  }
}
